.search {
    display: flex;
    flex-direction: column;
    float: right;
    width: 75%;
    height: fit-content !important;
    color: #fff;
    background-color: #121212;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 150px;
}

.feed__top {
    display: flex;
    flex-direction: row;
}

#feed__top-button {
    background-color: #222222;
    color: #bdbdbd;
}

#feed__top-button:hover {
    color: #fff !important;
}

.feed__top-rightbuttons {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.feed__top-rightbutton {
    display: flex;
    background-color: #222222;
    color: #fff;
    font-size: 38px !important;
    box-shadow: 0px 2px #0000005a;
    margin-right: 25px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
}

.feed__top-rightbutton:hover {
    transform: scale(1.1);
}

.feed__search {
    display: flex;
    color: #fff;
    flex-direction: row;
    padding-left: 20px;
    width: 460px !important;
    height: 60px !important;
    margin-left: 50px;
    border: 3px solid transparent;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    margin-top: 20px;
    cursor: pointer;
    margin-right: auto;
}

#search-icon {
    display: flex;
    margin-right: 10px;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
    padding: 3px;
    transition: all 0.2s ease-in-out;
}

#search-icon:hover {
    background-color: #505050;
}

.feed__search input {
    display: flex;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 22px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.feed__search:hover {
    background-color: #2f2f2f;
    border: 1px solid gray;
}

.search__bottom {
    display: flex;
    margin-left: -80px;
}

.search__bottom-playlists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: -100px;
    grid-gap: 20px;
    margin-top: 150px;
    margin-bottom: 60px;
}

.search__bottom-playlists img {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.search__bottom-playlists img:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 1400px) {
    .search__bottom-playlists img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .search__bottom-playlists img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 900) {
    .search__bottom-playlists {
        display: none !important;
    }
}
