@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

body {
    font-style: 'Manrope', sans-serif;
    overflow-x: hidden;
}
